@forward "./reset/reset";



@forward "./../partes/menu/css/style";
@forward "./../partes/hero/css/style";
@forward "./../partes/servicos/css/style";
@forward "./../partes/porque/css/style";
@forward "./../partes/faq/css/style";
@forward "./../partes/blog/css/style";
