@keyframes hoverElement {
    0%{ transform: scale(1);}
    //30%{transform: scale(0.4) rotate(3deg); filter: blur(2px); }
    80%{transform: scale(1.8) rotate(3deg); filter: blur(1px); z-index: 30000; }
    100%{transform: scale(1.2); z-index: 30000;}
}