@mixin tamanhoFontes() {
    @media screen and (min-width: 769px) {
    }

    /*****************************************************************/
    /*****************************************************************/
    /*****************************************************************/
    /*****************************************************************/
    /*****************************************************************/
    /*****************************************************************/
    /*****************************************************************/
    /*****************************************************************/
    /*****************************************************************/
    @media screen and (min-width: 501px) and (max-width: 768.5px) {
        font-size: 2.828125vw;
        @include privateAlign();
        line-height: 1.6;
        font-weight: 100;
        ///color: red;
        @content;
    }
    /*****************************************************************/
    /*****************************************************************/
    /*****************************************************************/
    /*****************************************************************/
    /*****************************************************************/
    /*****************************************************************/
    /*****************************************************************/
    /*****************************************************************/
    /*****************************************************************/

    @media screen and (max-width: 500px) {
        font-size: 5.328125vw;
        @include privateAlign();
        line-height: 1.7;
        font-weight: 100;
        @content;
    }
}

@mixin privateAlign {
    text-align: left;
}

//@mixin testePrivate($cor: red) {color: #{$cor} !important; }
