@import "fontFace";

@mixin titulos2() {
    @media screen and (min-width: 769px) {
    }
    /*****************************************************************/
    /*****************************************************************/
    /*****************************************************************/
    /*****************************************************************/
    /*****************************************************************/
    /*****************************************************************/
    /*****************************************************************/
    /*****************************************************************/
    /*****************************************************************/
    @media screen and (min-width: 501px) and (max-width: 768.5px) {
        @include fontFace();
        width: 100%;
        letter-spacing: 0.1953125vw;
        font-size: 3.4vw;
        line-height: 1.3;
        @content;
    }
    /*****************************************************************/
    /*****************************************************************/
    /*****************************************************************/
    /*****************************************************************/
    /*****************************************************************/
    /*****************************************************************/
    /*****************************************************************/
    /*****************************************************************/
    /*****************************************************************/

    @media screen and (max-width: 500px) {
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        width: 100%;
        font-size: 7vw;
        line-height: 1.5;
        @content;
    }
}

@mixin testePrivate($cor: red) {
    color: #{$cor} !important;
}
