@keyframes hover {
    0%{transform: scale(1); z-index: 20;}
    50%{transform: scale(1.4); z-index: 20;}
    //60%{transform: scale(0.9); z-index: 20;}
    100%{transform: scale(1.1); z-index: 20;}
}


@mixin hover(){
     animation: hover 300ms forwards; 
}