@use "sass:math";
@forward "./../../../css/reset/reset";
@use "./../../../css/variaveis/caminhos" as c;
@use "./../../../css/util/breakpoints";
@use "./../../../css/cores/cores" as cores;
@use "./../../../css/mixins/button" as btn;
@use "../../../css/mixins/tipografia";
@use "../../../css/util/_vw.scss";

@include breakpoints.respond-to(mobile) {
    footer {
        position: relative;
        height: 30vw;
        background-color: cores.$cor1;
    }
}
