

@use "../../css/mixins/fontes" as fontes;



html{ 
    scroll-behavior: smooth;
}

iframe{
    max-width: 99.9vw;
}

@mixin largura(){
    max-width: 95.8%!important;
    left: 50%!important;
    transform: translateX(-50%)!important;
    position: relative!important;
    display: block;
    *{max-width: 100%;}
}
  

@mixin Profundidade($value:10){
  //  z-index: #{$value};
  
}


@media screen and (min-width: 0) and (max-width: 767px) {
    .desktop {
        display: none;
    }
}



@media screen and (min-width: 768px) {
    .mobile {
        display: none;
    }
}

body {
   
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

p {
    padding: 0;
    margin: 0;
}

 

ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

a {
    text-decoration: none;
    font-weight: bold;
}

body {
    margin: 0px!important;
    max-width: 99.8vw!important;
    overflow-x: clip;


    display: block;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;

}

///@include fontes.fontes();