@use "sass:math";
@use "../cores/cores" as cores;
//@use "../../../css/util/_vw.scss";
@use "./../util/vw";




@mixin botao($corRecebida: cores.$cor1) {
    @media screen and (min-width: 768px) {
        display: flex;
        background-color: cores.$cor1;
        align-items: center;
        justify-content: center;
        border-radius: vw.vw(9.35);
        margin-bottom: vw.vw(38.19);
        font-family: "font2";
        font-weight: normal;
        /*****************************/
        $xxxx: vw.vw(8.65);
        color: white;
        /*****************************/
        box-shadow: $xxxx $xxxx rgba(0, 0, 0, 0.26);
        font-size: vw.vw(10.7);
        /*********************************/
        padding-top: vw.vw(14.58);
        padding-bottom: vw.vw(14.58);
        padding-left: vw.vw(13.95);
        padding-right: vw.vw(13.95);
        border-radius: vw.vw(8.24);

        @content;
    }

    @media screen and (max-width: 767px) {
        color: white;
        padding: 4vw;
        font-size: 7vw;
        position: relative;
        z-index: 10;
        display: inline-block;
        width: 100%;
        text-align: center;
        border: none;
        /// margin-bottom: 3vh;
        border-radius: 3vw;
        background-color: $corRecebida;
        white-space: nowrap;

        $xxxx: vw.vw(8.65);
        color: white;
        /*****************************/
        box-shadow: $xxxx $xxxx rgba(0, 0, 0, 0.26);
        font-size: vw.vw(35);
        max-width: 85%;

        @content;
    }
} 
/*******************************************************/
/*******************************************************/
@mixin botaoMini() {
    /******************************************************************************/
    /******************************************************************************/
    /******************************************************************************/
    /******************************************************************************/
    @media screen and (min-width: 768px) {
        font-size: 1vw;
        display: inline-block;
        background-color: adjust-hue(lighten($cor1, 30%), 20%);
        color: white;
        padding: 0.5vw;
        width: auto;
        border-radius: 0.3vw;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        @content;
        &:hover {
            animation: buttonHover 100ms forwards;
        }
        a {
            color: white;
        }
    }
    /******************************************************************************/
    /******************************************************************************/
    /******************************************************************************/
    /******************************************************************************/
    @media screen and (max-width: 767px) {
        font-size: 1.8vw;
        display: inline-block;
        background-color: adjust-hue(lighten($cor1, 30%), 20%);
        color: white;
        padding: 1.5vw;
        width: auto;
        border-radius: 1vw;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        a {
            color: white;
        }
        &:hover {
            animation: buttonHover 100ms forwards;
        }
        @content;
    }

    /******************************************************************************/
    /******************************************************************************/
    /******************************************************************************/
    /******************************************************************************/
    @media screen and (min-width: 50px) and (max-width: 500px) {
        margin-top: 5vw;
        font-size: 3vw;
        display: inline-block;
        background-color: adjust-hue(lighten($cor1, 30%), 20%);
        color: white;
        padding: 3vw;
        width: auto;
        border-radius: 1vw;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        a {
            color: white;
        }
        &:hover {
            animation: buttonHover 100ms forwards;
        }
        @content;
    }
}
/*******************************************************/
/*******************************************************/
@keyframes buttonHover {
    0% {
        position: relative;

        left: 50%;
        transform: translateX(-50%) scale(1);
        box-shadow: 0px 0px 0px #37373787;
        ///background-color: adjust-hue(lighten($cor1, 1%), -0%);
    }
    100% {
        position: relative;

        left: 50%;
        transform: translateX(-50%) scale(1.3);
        box-shadow: 7px 9px 11px #37373787;
        ///  background-color: adjust-hue(lighten($cor1, 1%), -180%);
    }
}
