@use "sass:math";
@forward "./../../../css/reset/reset";
@use "./../../../css/variaveis/caminhos" as c;
@use "./../../../css/util/breakpoints";
@use "./../../../css/cores/cores" as cores;
@use "./../../../css/mixins/button" as btn;
@use "../../../css/mixins/tipografia";
@use "../../../css/util/_vw.scss";

@include breakpoints.respond-to(bigger) {
    #hamburguer {
        display: none;
    }
    /****************************************************************/
    h1 {
        position: absolute;
        left: vw.vw(63.04);
        top: vw.vw(20.58);
        color: white;
        text-transform: uppercase;
        font-size: vw.vw(11.46);
        line-height: 122%;
        z-index: 2000;
        font-family: "font1";
    }
    /****************************************************************/
    #menu {
        font-family: "font1";
        z-index: 30000;
        background-color: cores.$cor1;
        color: white;
        height: vw.vw(58.87);
        display: flex;
        justify-content: flex-end;
        padding-left: vw.vw(63.04);
        padding-right: vw.vw(63.04);
        padding-top: vw.vw(22.92);
        padding-bottom: vw.vw(22.92);
        width: 100vw;

        ul {
            /**************************************/
            position: absolute;
            height: vw.vw(24.42);
            width: auto;
            /**************************************/
            display: flex;
            gap: vw.vw(4.8);
            top: vw.vw(17.19);
            left: vw.vw(738.25);

            li {
                padding-top: vw.vw(5.21);
                padding-bottom: vw.vw(5.21);
                padding-left: vw.vw(5.21);
                padding-right: vw.vw(5.21);
                font-size: vw.vw(7.46);
                line-height: 122%;
                text-transform: capitalize;
                a {
                    color: white;
                        white-space: nowrap
                }
            }
        }
    }
    /****************************************************************/
}
